<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @task.type_of_assignment %>
</p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @task.due_date %>
</p>

<p>
  <strong>Expected grade:</strong>
  <%= @task.expected_grade %>
</p>

<p>
  <strong>Actual grade:</strong>
  <%= @task.actual_grade %>
</p>

<p>
<%= link_to 'Task Log', work_logs_path %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
