<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @work_log.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @work_log.start_time.strftime('%H:%M') %>
</p>

<p>
  <strong>End time:</strong>
  <%= @work_log.end_time.strftime('%H:%M') %>
</p>


<%= link_to 'Edit', edit_work_log_path(@work_log) %> |
<%= link_to 'Back', work_logs_path %>
